outcome model.json
[{"id":"cd2f777f.c9fad8","type":"tab","label":"OUTCOME MODEL","disabled":false,"info":""},{"id":"57e614b.357f5ec","type":"ui_form","z":"cd2f777f.c9fad8","name":"","label":"","group":"7247d172.51fbd","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pr","type":"number","required":false,"rows":null},{"label":"Glucose","value":"gl","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"bp","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"st","type":"number","required":true,"rows":null},{"label":"Insulin","value":"ins","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"dpf","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"text","required":true,"rows":null}],"formValue":{"pr":"","gl":"","bp":"","st":"","ins":"","bmi":"","dpf":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":380,"wires":[["87774ea0.d43de","d2b0d0a1.a0cc"]]},{"id":"87774ea0.d43de","type":"debug","z":"cd2f777f.c9fad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":460,"wires":[]},{"id":"d2b0d0a1.a0cc","type":"function","z":"cd2f777f.c9fad8","name":"pre-token","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"gl\",msg.payload.gl)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"ins\",msg.payload.ins)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"dpf\",msg.payload.dpf)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"7mw5esHgJZTwD4LIZjM1WiaGK9wwi_s-4WEsVj62anbr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["86677fa7.bb2f6"]]},{"id":"86677fa7.bb2f6","type":"http request","z":"cd2f777f.c9fad8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":572.0000038146973,"y":364.00000286102295,"wires":[["a16ccbe.787d138","80092619.719d48"]]},{"id":"a16ccbe.787d138","type":"debug","z":"cd2f777f.c9fad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":420,"wires":[]},{"id":"80092619.719d48","type":"function","z":"cd2f777f.c9fad8","name":"Pre Prediction","func":"var pr = global.get(\"pr\")\nvar gl = global.get(\"gl\")\nvar bp = global.get(\"bp\")\nvar st = global.get(\"st\")\nvar ins = global.get(\"ins\")\nvar bmi = global.get(\"bmi\")\nvar dpf = global.get(\"dpf\")\nvar age = global.get(\"age\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Pregnancies\", \"Glucose\", \"BloodPressure\", \"SkinThickness\",\"Insulin\",\"BMI\",\"DiabetesPedigreeFunction\",\"Age\"]],\"values\": [[pr,gl,bp,st,ins,bmi,dpf,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":764.0000076293945,"y":316.0000021457672,"wires":[["1ec7b32a.91718d"]]},{"id":"1ec7b32a.91718d","type":"http request","z":"cd2f777f.c9fad8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/043131b3-d961-4be0-8735-77f53d3e5066/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":340,"wires":[["7a9db7c9.2c3d78","29ff4038.fe105"]]},{"id":"7a9db7c9.2c3d78","type":"debug","z":"cd2f777f.c9fad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1142.9999914169312,"y":424.00000381469727,"wires":[]},{"id":"b9cf45bb.711788","type":"inject","z":"cd2f777f.c9fad8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":220,"wires":[["d2b0d0a1.a0cc"]]},{"id":"8c24189f.60f2b8","type":"debug","z":"cd2f777f.c9fad8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":973.9999885559082,"y":207.0000057220459,"wires":[]},{"id":"29ff4038.fe105","type":"function","z":"cd2f777f.c9fad8","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":819.6000595092773,"y":248.00000190734863,"wires":[["8c24189f.60f2b8","f1b47ea8.ed355"]]},{"id":"f1b47ea8.ed355","type":"ui_text","z":"cd2f777f.c9fad8","group":"7247d172.51fbd","order":2,"width":0,"height":0,"name":"Prediction","label":"Prediction: (Above 0.6 - Diabetic)","format":"{{msg.payload}}","layout":"row-spread","x":937.6000366210938,"y":481.20001220703125,"wires":[]},{"id":"7247d172.51fbd","type":"ui_group","z":"cd2f777f.c9fad8","name":"New","tab":"d2249eda.c6aa5","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2249eda.c6aa5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]